@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    display: block;
}

h1 {
    text-align: center;
    color: var(--primary-color);
}


.senha-gerada {
    font-size: 2em;
    color: var(--primary-color-darker);
    margin: 40px 0;
}

.qtd-caracteres {
    height: 27px;
    width: 50px;
    border: 1px none black;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.493);
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.493);
}

input[type="checkbox"]:checked {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.493);
}

button {
    border: none;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.425);
    /* display: inline-block; */
    border-radius: 15px;
    padding: 15px;
    margin: 20px 0px;
    font-size: 0.8em;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

button:hover {
    transition: ease-in-out 300ms;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.425);
    background-color: var(--primary-color-darker);
}