@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@400;600;700&display=swap');

:root {
    --primary-color: #F8EF00;
    --secundary-color: #00F0FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background: #000;
    font-family: 'Tomorrow', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 580px;
    margin: 50px auto;
    background: #000;
    padding: 20px;
    border-radius: 10px;
    display: block;
}

h1 {
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
}

label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fafafa;
    gap: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 18px;
}

.senha-gerada {
    padding: 12px;
    width: 100%;
    color: var(--secundary-color);
    margin-top: 44px;
    border: 2px solid white;
    border-color: var(--secundary-color);
    background-color: hsl(184, 100%, 10%);
}

input[type=range] {
    width: 100%;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    display: block;
    margin: 10px 0 0 0;
    position: relative;
  }

input[type="range"]::-webkit-slider-runnable-track{
    background: var(--secundary-color);
    outline: none;
    width: 100%;
    height: 2px;
    border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    background: var(--primary-color);
    -webkit-appearance: none;
    margin: -7px 0 0 0;
    outline: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #000;
    width: 16px;
    height: 16px;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--primary-color);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 15px;
    padding-left: 30px;
    margin-top: 16px;
    margin-bottom: 36px;
    font-size: 0.68em;
    background-color: var(--primary-color);
    color: #000;
    font-weight: 600;
    cursor: pointer; 
    position: relative;
}

button::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 42px;
    background-color: #FFF;
    background-color: #000;
}

button::after {
    left: -10px;
    transform: rotate(39deg)
}

.material-symbols-outlined {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
}

button:hover {
    transition: ease-in-out 300ms;
    background-color: hsl(58, 100%, 35%);
}

.slider-value {
    color: #fafafa;
}